<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>SearchStudentServlet</servlet-name>
        <servlet-class>edu.cn.ahpu.servlet.SearchStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchStudentServlet</servlet-name>
        <url-pattern>/searchStudent</url-pattern>
    </servlet-mapping>

    <!--配置Listener监听器-->
    <listener>
        <listener-class>edu.cn.ahpu.listener.ServletContextListenerImpl</listener-class>
    </listener>
</web-app>